<h1>Log In to Granular App</h1>
<%= form_tag '/login', method: :post do %>
  <label>Username: </label><%= text_field_tag :user %>
  <label>Password: </label><%= text_field_tag :password %>
  <%= submit_tag 'login' %>
<% end %>