//alert("You just added a restaurant called <%= @restaurant.name %>")

$('<%= j(render @restaurant) %>').appendTo('tbody');

$('<p class=\"generic_flash notice\"><%= flash[:notice] %></p>').prependTo('h1');

// Reset the form fields to blank
// grab inputs that have the attribute name the contains the phrase "rest"
// set the value to an empty string
$('form input[name*=\"rest\"]').val(''); 
