<h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
<!-- beast mode 
      <th>Today's Hours</th>
    -->
  </tr>
</thead>
<tbody>
  <ul>
    <% @restaurants.each do |restaurant| %>
      <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
    <% end %>
  </ul>
</tbody>
</table>
