<h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
<!-- beast mode 
      <th>Today's Hours</th>
    -->
    </tr>
  </thead>
  <tbody>
    
  <% @restaurants.each do |n| %>
    <tr>
      <td><%= link_to n.name, restaurant_path(n) %></td>
      <td><%= n.website %></td>
    </tr>
  <% end %>
    
    <!-- <td> <%#= @restaurants.website %></td> -->
  <!-- show restaurants here -->
  </tbody>
</table>
