<h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
<!-- beast mode
      <th>Today's Hours</th>
    -->
    </tr>
  </thead>

  <tbody>
    <%= render @restaurants %>
  </tbody>
</table>

<%= link_to "Add New Restaurant", new_restaurant_path, remote: true, id: 'new_rest_link' %>