<h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
<!-- beast mode
      <th>Today's Hours</th>
    -->
    </tr>
  </thead>

  <% @restaurants.each do |restaurant| %>

    <tbody>
        <tr>
          <td><%= restaurant.name %></td>
        </tr>
  <% end %>
    </tbody>
</table>
