<h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
<!-- beast mode
      <th>Today's Hours</th>
    -->
    </tr>
  </thead>

  <tbody>
    <%= render @restaurants %>
  </tbody>
</table>

<p id = "new_rest">Add New Restaurant</p>
<%= render "new" %>